*{
    color: white;
}
.main_header{
    position: relative;
}
.main_home_img{
    position: absolute;
    top: 380px;
    width: 1920px;
}
.main_back_img{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -11;
    height: 980px;
}
.for_center_header{
    width: 100%;
    max-width: 1550px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.black_main{
    overflow: hidden;
    height: 1150px;
}
.for_center_header1{
    margin-top: 35px;
    padding: 30px;
    display: flex;
    justify-content: end;
}
.for_center_header h1{
    font-family: 'Montserrat', sans-serif;
}
.for_center_header p{
    margin-top: 10px;
    font-weight: 100;
}
.for_center_header button{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    width: 200px;
    height: 48px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 65px;
}
.header_cloud{
    position: absolute;
    top: 380px;
    width: 1920;
}

body{
    background: #0F1115;
}
.for_center_card{
    max-width: 1300px;
    width: 100%;
    margin: auto; position: relative;
}
.first_center_cards{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1100px;
    justify-content: space-between;
   
}
.for_first_card{
    width: 25%;
    margin-top: 80px;
}
.for_first_card h1{
    font-weight: 700;
    font-size: 40px;
    position: relative;
    z-index: 111;
}
.for_first_card p{
    font-weight: 400;
    font-size: 16px;
    margin-top: 50px;
    line-height: 25px;
}
.for_first_card img{
    position: absolute;
    top: 20px;
    left: 0px;
}
.center_karta{
    width: 70%;
}
.second_center_card{
    display: flex;
    align-items: baseline;
    margin-top: 80px;
}
.center_flex_end{
    display: flex;
    align-items: end;
}
.center_flex_center{
    display: flex;
    align-items: center;
}
.second_center_card h3{
    font-weight: 100;
    width: 96px;
}
.center_span{
    font-size: 42px;
}
.centers_for_block p{
    width: 190px;
    color: #4D6180;
    font-size: 18px;
    margin-top: 10px;
}
.centers_for_block{
    margin-left: 10px;
}
.dot_flex{
    display: flex;
    align-items: baseline;
}
.for_center_mains{
    padding: 30px;
} 
.for_center_mains swiper-container {
    width: 100%;
    height: 100%;
    margin-top: 100px;
  }
  /*  */
  #swipers1{
    width: 105px !important;
    margin-top: 25px;
  }
  .for_center_mains swiper-slide {
    display: flex;
    margin-right: 0px !important;
    width: auto !important;
  }
  .for_center_mains swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .for_bottom_center{
    background: url("../img/Mask2group.png");
    padding-top: 200px;
    height: 1642px;
    padding-left: 30px;
  }
  .number_2_cards{
    display: flex;
    justify-content: end;
  }
  .first_number_2{
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    max-width: 1470px;
  }
  .for_2number{
    position: relative;
    width: 100%;
    max-width: 1570px;
    display: flex;
    justify-content: end;
  }
  .for_2_card{
    width: 480px;
  }
  .number_two_img{
    position: absolute;
    left: 0px;
    top: 100px;
  }
  .for_2_card{
    margin-top: 160px;
  }
  .for_2_card p{
    margin-top: 60px;
    line-height: 25px;
  }
  .for_2_card h1{
    position: relative;
    z-index: 11;
    font-size: 40px;
  }
  .for_2_card_2{
    position: relative;
    display: flex;
    overflow: hidden;
    margin: auto;
    margin-right: 0;
    margin-bottom: 0;
  }
  .cloud_homes{
    position: absolute;
    top: 0;
    left: 0;
  }
  .main_homes_card h1{
    font-size: 30px;
    font-weight: 500;
  }
  .main_homes_card p{
    font-size: 16px;
    font-weight: 400;
    width: 230px;
    margin-top: 25px;
  }
  .main_homes_card button{
    margin-top: 25px;
    width: 200px;
    height: 48px;
    color: white;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
  }
  .main_homes_cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .homes_image{
    display: flex;
    height: 360px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .homes_image img{
    width: 100%;
  }
  .main_3_centers{
    max-width: 1040px;
    width: 100%;
    margin-top: 50px;
    
  }
  .main_3_first{
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .main_3_for_center{
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 1240px;
    width: 100%;
    position: relative;
  }
  .main_3_first img{
    position: absolute;
    left: 0;
    top: 0;
  }
  .main_3_centers p{
    width: 100%;
    max-width: 480px;
  }
  .main_4_centers{
    max-width: 1040px;
    width: 100%;
    margin-top: 50px;
  }
  .main_4_first{
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  .main_4_for_center{
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 1240px;
    width: 100%;
    position: relative;
  }
  .main_4_first img{
    position: absolute;
    left: 0;
    top: 0;
  }
  .main_4_centers p{
    width: 100%;
    max-width: 480px;
  }

  .number_3_main{
    padding-top: 100px !important;
    padding: 30px;
  }
  .main_4_centers h1{
    position: relative;
    z-index: 11;
    font-size: 40px;
  }
  .main_4_centers p{
    line-height: 25px;
  }
  .main_4_second ul{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .main_4_second li{
    width: 20%;
    text-align: center;
    border-bottom: 2px solid #4D6180;
    color: white;
    cursor: pointer;
    padding-bottom: 20px;
    color: #4D6180;
  }
  .main_4_li_1{
    border-bottom: 2px solid white !important;
    color: white !important;
  }
  .number_3_main{
    padding-top: 100px !important;
    padding: 30px;
  }
  .main_3_centers h1{
    position: relative;
    z-index: 11;
    font-size: 40px;
  }
  .main_3_centers p{
    line-height: 25px;
  }
  .main_3_second ul{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .main_3_second li{
    width: 25%;
    text-align: center;
    border-bottom: 2px solid #4D6180;
    color: white;
    cursor: pointer;
    padding-bottom: 20px;
    color: #4D6180;
  }
  .main_3_li_1{
    border-bottom: 2px solid white !important;
    color: white !important;
  }
  .main_3_3 h1{
    font-size: 30px;
    font-weight: 500;
  }
  .main_3_3 p{
    margin-top: 20px;
    width: 280px;
  }
  .mains_3_thirt{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    max-width: 1200px;
    margin-top: 45px;
  }
  .main_cardss_3{
    width: 100%;
    max-width: 1350px;
    display: flex;
    justify-content: end;
    margin: auto;
  }
  .main_3_image_1{
    margin-top: 140px;
  }
  .main_3_image_2{
    height: 282px;
    margin-top: 10px;
  }
  .main_4_for_center {
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 1240px;
    width: 100%;
    position: relative;
}
.main_4_centers {
    max-width: 1040px;
    width: 100%;
    margin-top: 110px;
}
.main_4_first img {
    position: absolute;
    left: 0;
    top: 0;
}
.main_4_thirt_card h1{
    font-size: 30px;
    font-weight: 500;
}
.main_4_thirt_card h2{
    color: #FFB800;
    font-weight: 400;
    font-size: 16px;
    margin-top: 15px;
}
.main_4_thirt_card p{
    width: 100%;
    max-width: 380px;
    margin-top: 15px;
}
.main_for_4{
    padding-top: 80px !important;
    padding: 30px;
}
.main_4_thirt_cards{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main_4_second .mySwiper{
    display: none !important;
}
.main_3_second .mySwiper{
    display: none !important;
}
.swiper-button-next{
    right: 0 !important;
    top: 60px !important;
}
.swiper-button-prev{
    right: 40px !important;
    top: 60px !important;
    left: auto !important;
}
.main_4_second .swiper{
    overflow: visible;
    overflow-x: hidden;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: none !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: none !important;
}
.for_center_card .mySwiper{
    display: none !important; 
}
.for_center_card .swiper-slide{
    width: 250px !important;
}
.main_5_first{
    background: url("../img/back_3.png");
    display: flex;
    align-items: center;
    height: 800px;
    background-repeat: no-repeat;
    padding-right: 30px;
    margin-top: 150px;
}
.main_5_for_block h1{
    font-size: 40px;
    font-weight: 700;
}
.main_5_for_block{
    max-width: 380px;
    width: 100%;
}
.main_5_for_block input{
    height: 60px;
    width: 100%;
    padding: 10px 28px 10px 28px;
    background-color: rgba(245, 222, 179, 0);
    border: 1px solid #4D6180;
    border-radius: 20px;
}
.main_5_for_flex{
    display: flex;
    align-items: end;
    margin-top: -200px;
}
.main_input_5{
    margin-top: 60px !important ;
}
.main_5_for_block input{
    margin-top: 5px;
    outline: none;
}
.main_5_for_block{
    margin-left: 60px;
}
.main_5_for_block p{
    font-size: 12px;
    color: #4D6180;
    margin-top: 30px;
    margin-bottom: 30px;
}
.main_5_for_block button{
    width: 200px;
    height: 48px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 30px;
    cursor: pointer;
}
.main_5_for_flex img{
    width: 50vw;
}

.fream-main-end {
    position: relative;
    width: 100%;
    min-height: 109vh;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background: #171921;
    overflow: hidden;
}

.frame-end-right {
    margin-top: 5rem;
    width: 580px;
    height: 737px;
    margin-left: 5rem;
    z-index: 10;
}

.frame-end-left-h1 p {
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
    padding-left: 25%;
}

.frame-end-left-h2 {
    display: none;
}

.frame-end-right-text ul li span {
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
}

.frame-end-right-text ul li {
    color: rgba(230, 232, 237, 0.60);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-bottom: 2rem;
}

.frame-end-right-text {
    margin-bottom: 4rem;
}

.frame-end-inp-h1 p {
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}

.frame-end-blur1 {
    position: absolute;
    top: 0;
    left: 5%;
    width: 627.767px;
    height: 627.767px;
    transform: rotate(2.486deg);
    border-radius: 627.767px;
    opacity: 0.2;
    background: #23ED1F;
    mix-blend-mode: hard-light;
    filter: blur(150px);
}

.frame-end-blur2 {
    position: absolute;
    bottom: 0;
    right: 10%;
    width: 919.964px;
    height: 919.964px;
    transform: rotate(2.486deg);
    border-radius: 919.964px;
    opacity: 0.2;
    background: #1FC8ED;
    mix-blend-mode: hard-light;
    filter: blur(150px);
}

.frame-end-inp {
    display: block;
    margin-bottom: 1rem;
}

.frame-end-img {
    position: absolute;
    left: -200px;
    bottom: -16px;
}


.frame-end-inp input {
    width: 100%;
    max-width: 380px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid var(--blue, #4D6180);
    margin: 0.2rem;
    padding-left: 1rem;
    background: transparent;
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

.frame-end-inp-btns p {
    width: 100%;
    max-width: 380px;
    color: var(--blue, #4D6180);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    margin-bottom: 2rem;
}

.frame-end-inp-btns p span {
    color: var(--blue, #4D6180);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    text-decoration-line: underline;
    cursor: pointer;
} 

.frame-end-inp-btns button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid var(--White, #FFF);   
    background: transparent;
    color: var(--White, #FFF);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

.frame-end-img2 {
    display: none;
}

.frame-end-input {
    width: 100%;
    max-width: 388px;   
}


@media (max-width:1280px) {
    .frame-end-img {
        position: absolute;
        left: -400px;
        bottom: -16px;
    }
}

@media(max-width:1120px){
    .main_3_image_1{
        margin-top: 0;
    }
    .main_3_image_2{
        margin: auto;
    }

    .frame-end-img {
        position: absolute;
        left: -500px;
        bottom: -16px;
    }
}

@media (max-width:850px) {
    .fream-main-end{
        display: block;
        min-height: 4674px;
        /* overflow-x: hidden; */
    }

    .frame-end-input {
        width: 100%;
        max-width: 388px;
        margin-top: 3rem;
    }

    .frame-end-right {
        margin-top: 5rem;
        width: 580px;
        height: 737px;
        margin-left: 0;
        z-index: 10;
    }

    .frame-end-img {
        display: none;
    }

    .frame-end-left-h2 {
        display: flex;
        color: var(--White, #FFF);
        font-family: Montserrat;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.2px;
        margin-bottom: 2rem;
    }

    .frame-end-img2 {
        display: flex;
        margin-left: -20%;
    }

    .frame-end-img2 img {
        width: 100%;
        max-width: 876px;
        height: 445px;
    }

    .frame-end-img {
        display: none;
    }

    .frame-end-left-h1 {
        display: none;
    }
}

@media(max-width:640px){
    .main_3_3 p{
        width: 100%;
    }
    .main_3_image_1{
        display: none;
    }
    .main_3_image_2{
        width: 100%;
        height: auto;
    }
    .main_4_second li {
        width: 100%;
    }
    .main_3_second li {
        width: 100%;
    }
    .main_4_second .mySwiper{
        display: flex !important;
        padding-top: 90px;
    }
    .main_3_second .mySwiper{
        display: flex !important;
        padding-top: 90px;
    }
    .main_4_second ul{
        display: none;
    }
    .main_3_second ul{
        display: none;
    }

    .fream-main-end {
        display: flex;
        width: 100%;
        min-height: 1520px;
        overflow: hidden;
    }

    .frame-end-img2 {
        width: 100%;
        max-width: 876px;
    }

    .frame-end-input {
        width: 100%;
        max-width: 388px;
        margin-top: 3rem;
    }

    .frame-end-input input {
        width: 100%;
    }

    .frame-end-inp-h1 p {
        font-size: 25px;
    }

    .frame-end-inp-btns button {
        width: 100%;
        max-width: 500px;
    }

    .frame-end-right-text {
        padding: 1rem;
    }

    .frame-end-right {
        margin-top: 5rem;
        width: 100%;
        max-width: 580px;
        height: 737px;
        /* margin-left: 5rem; */
        z-index: 10;
    }
}
@media(max-width:810px){
    .main_4_first{
        display: block;
    }
    .main_4_first p{
        margin-top: 20px;
    }
    .main_3_first p{
        margin-top: 20px;
    }
    .main_3_first{
        display: block;
    }
}
@media(max-width:735px){
    .main_4_thirt_cards{
        display: block;
    }
    .main_4_thirt_cards img{
        margin-top: 50px !important;
        display: flex;
        margin: auto;
        width: 100%;
    }
}
  @media(max-width:1120px){
    .main_3_3 p{
    }
  }
  @media(max-width:947px){
    .main_homes_card button{
        width: 100%;
    }
    .main_homes_card{
        padding-right: 30px;
    }
  }
  @media(max-width:1410px){
    .for_bottom_center{
        background: url("../img/Vector\ 4\ \(1\).png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: auto;
        min-height: 2000px;
    }
  }
  @media(max-width:950px){
    .for_bottom_center{
        background: url("../img/Vector\ 4\ \(1\).png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: auto;
        min-height: 2000px;
        padding-bottom: 150px;
    }
  }
@media(max-width:1000px){
    .center_karta{
        width: 50%;
        height: 30vw;
    }
    .for_first_card{
        width: 45%;
    }
}
@media(max-width:1060px){
    .for_center_card .mySwiper{
        display: flex !important;
        padding-top: 90px;
    }
    .second_center_card{
        display: none;
    }
}
@media(max-width:1280px){
    .main_home_img{
        width: 1520px;
    }
    .header_cloud{
        width: 1520px;
    }
    .main_back_img{
        height: 860px;
    }
    .black_main{
        height: 1000px;
    }
    
}
@media(max-width:1024px){
    .main_home_img{
        width: 1380px;
    }
    .header_cloud{
        width: 1380px;
    }
    .black_main{
        height: 930px;
    }
    .main_5_for_flex {
        margin-top: -100px !important;
    }
}
@media(max-width:767px){
    .first_center_cards{
        display: block;
    }
    .first_number_2{
        display: block;
    }
    .for_2_card{
        width: 90%;
    }
    .cloud_homes{
        width: 70%;
    }
    .for_2_card_2{
        margin-top: 40px;
    }
    .for_first_card img{
        top: -50px;
    }
    .center_karta {
        height: auto;
        width: 100%;
        margin-top: 20px;
    }
    .for_first_card{
        width: 100%;
    }
    .main_home_img{
        width: 1180px;
        top: 450px;
    }
    .header_cloud{
        width: 1000px;
    }
    .header_cloud{
        top: 450px;
    }
    .main_back_img {
        height: 790px;
    }
    .for_center_header h1{
        font-size: 40px;
    }
}
@media(max-width:520px){
    .homes_image_1{
        display: none;
    }
    .homes_image_2{
        display: flex !important;
    }
}
@media(max-width:500px){
    .black_main{
        height: 850px;
    }
    .main_home_img{
        width: 730px;
        top: 540px;
    }
    .header_cloud{
        width: 680px;
        top: 540px;
    }
    .main_back_img {
        height: 790px;
    }
}
@media(max-width:428px){
    .main_home_img{
        width: 620px;
        top: 580px;
    }
    .main_3_second li{
        font-size: 15px;
    }
    .header_cloud{
        width: 680px;
        top: 580px;
        display: none;
    }
    .main_back_img {
        height: 790px;
    }
    .header_cloud_media{
        display: flex !important;
        position: absolute;
        top: 590px;
    }
    .for_center_header button{
        width: 100%;
    }

    .fram-cards-right img {
        width: 100%;
        height: 214px;
    }

    .fream-main-end {
        display: flex;
        width: 100%;
        height: 1436px;
        overflow: hidden;
        padding: 1rem;
    }

    .frame-end-left-h2 {
        font-size: 24px;
    }

    .frame-end-img2 img{
        width: 100%;
        max-width: 652px;
        max-height: 331px;
        margin-bottom: 1rem;
    }
}
@media(max-width:1660px){
    .main_5_for_flex{
        margin-top: -100px;
    }
}
@media(max-width:1470px){
    .main_5_for_flex{
        margin-top: 0px;
    }
}
@media(max-width:1280px){
    .main_5_first{
        background: url("../img/Vector\ 4\ \(3\).png");
    }
    .dom_img_1{
        display: none;
    }
    .dom_img_2{
        display: flex !important;
    }
    .main_5_for_flex {
        margin-top: -200px;
    }
    .main_5_for_flex img {
        width: 53vw;
    }
}
@media(max-width:900px){
    .main_5_for_flex {
        margin-top: -0px !important;
    }
}
@media(max-width:767px){
    .main_5_for_flex{
        display: block;
    }
    .main_5_first{
        background: url("../img/Frame\ 93.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 2100px;
        align-items: start;
    }
    .main_5_for_flex img {
        width: 80vw;
    }
    .main_5_for_flex {
        width: 100%;
    }
    .main_5_for_block{
        margin: auto;
        margin-top: 40px !important;
        padding-left: 30px;
    }
    .main_5_for_block button{
        width: 100%;
    }
}